$primary-color: rgba(146, 49, 41, 1);
$secondary-color: rgba(112,93,86, 1);

$text-color: rgba(227, 165, 192, 1);

$background-primary-color: rgba(239,237,242, 1);
$background-secondary-color: rgba(213,226,226, 1);
